*{
    margin: 0px;
    padding: 0px;
    outline: 0px;
}
img{
    border: 0px;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
body{
    font-family: 'Bebas Neue', cursive;  
}
section {
    display: block;
}
span{
    color: #FF8367;
}
h3{
    font-size: 48px;
    color: #363958;
    font-weight: 500;
}
.full-web{
    width: 100%;
    margin-bottom: 100px;
}
.main-web{
    width: 90%;
    margin: auto;
}

/* CSS start for menu*/
.menu{
    height: 100px;
}
.menu li{
    float: right;
    padding: 30px 20px;
    font-family: 'Roboto', sans-serif;
    
}
.menu li a{
    color: black;
}

/* CSS start for header*/

.header{
    height: 500px;
}
.half-width{
    width: 40%;
    float: left;
}
.right-element{
    float: right;
}
.half-width h1{
    font-size: 80px;
    color: #363958;
    font-weight: 500;
    line-height: 90px;
    margin-top: 50px;
}
.half-width P{
    font-family: 'Roboto', sans-serif;
    color: #3E3E3E;
    margin: 30px 0px;
    line-height: 27px;
    
}
.half-width a{
    background: linear-gradient(to right, #ff512f, #dd2476);
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
}
.half-width img{
    width: 100%;
    margin-top: -60px; 
}


/* CSS start for Project*/

.full-project{
    width: 100%;
    background-color: #F8F9FC;
    margin: 150px 0px;
    padding: 55px 0px;
}

.leatest{
    height: 654px;
    margin: auto;
}
.leatest h3{
    padding: 50px;
    text-align: center;
}
.project-gallery{
    width: 31%;
    box-shadow: 2px 2px 20px #ECEDF0;
    box-sizing: border-box;
    float: left;
    margin: 1%;
    border-radius: 15px;
    background-color: white;
    height: 60%;
}
.project-gallery img{
    width: 100%;
}
.img-txt{
    padding: 12px;
    font-family: 'Roboto', sans-serif;
    color: #363958;
}
.img-txt h4{
    font-size: 20px;
    padding: 15px 0px;
}
.img-txt p{
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    padding: 10px 0px;
    color: #6C6C6C;
}
.why-me-heading{
    border: 2px solid #979797;
    width: 35%;
    text-align: center;
    margin: auto;
    padding: 10px 0px;
}
.why-me-heading h3{
    line-height: 38px;
}
.why-me-number{
    text-align: center;
    padding: 100px 0px 20px 0px;
}
.why-me-down-txt{
    font-family: 'Roboto', sans-serif;
    color: #3E3E3E;
    padding: 91px;
    line-height: 27px;
    text-align: center;
}
.quarter{
    width: 24%;
    float: left;
    border-left: 2px solid #979797;
    
}
#first-border{
    border-left: none;
}
/* CSS start for work*/
.work{
    background-image: url("../img/Group_33094_1.png") ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 100px;
}
.work h3{
    padding: 50px;
    color: white;
    display: inline-block;
}
.work a{
    background: linear-gradient(to right, #ff512f, #dd2476);
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    float: right;
    margin: 60px;
}

.footer{
    text-align: center;
}
.footer h3{
    font-size: 16px;
    color: #696871;
}
.footer p{
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    color: #363958;
    padding: 15px;
}
.footer a img{
    width: 30px;
    padding: 10px;
}
